<!DOCTYPE html>

<link rel="stylesheet" href="/user/css/main-default.css" />

#parse("/module/base.vm")

<div class="container b-header__box b-relative">
    <div class="b-header-r b-right b-header-r--icon"></div>
</div>

<div id="wrapper" style:"background-color:>
<!-- Main -->
<div id="main">
    <div class="l-inner-page-container">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">
                    #foreach(${article} in ${articles})
                        <div class="b-blog-listing__block">
                            <div class="b-blog-listing__block-top">
                                <div class=" view view-sixth">
                                    <img data-retina="" src="/${article.headFig}" alt="">

                                </div>
                            </div>
                            <div class="b-infoblock-with-icon b-blog-listing__infoblock">
                                <a href="#" class="b-infoblock-with-icon__icon f-infoblock-with-icon__icon fade-in-animate hidden-xs">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <div class="b-infoblock-with-icon__info f-infoblock-with-icon__info">
                                    <a href="#" class="f-infoblock-with-icon__info_title b-infoblock-with-icon__info_title f-primary-l b-title-b-hr f-title-b-hr">
                                        ${article.title}
                                    </a>
                                    <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text f-primary-b b-blog-listing__pretitle">
                                        <a href="/user/article/editor/${article.id}" class="f-more">修改</a> | <a href="/user/article/delete/${article.id}" class="f-more">删除</a>
                                    </div>
                                    <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text f-primary-b b-blog-listing__pretitle">
                                        By <a href="#" class="f-more">Stephen Brock</a> In <a href="#" class="f-more">Lifestyle</a>, <a href="#" class="f-more">Photography</a> ${article.postDate}
                                        <a href="#" class="f-more b-blog-listing__additional-text f-primary"><i class="fa fa-comment"></i>12 Comments</a>
                                    </div>
                                    <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text c-primary b-blog-listing__text">
                                        Pendisse blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis quam vel accumsan. Nunc a vulputate lectus. Vestibulum eleifend nisl sed massa sagittis vestibulum. Vestibulum pretium blandit tellus, sodales volutpat sapien varius vel. Phasellus tristique cursus erat, a placerat tellus laoreet eget. Blandit ligula turpis, ac convallis risus fermentum non. Duis vestibulum quis.
                                    </div>
                                    <div class="f-infoblock-with-icon__info_text b-infoblock-with-icon__info_text">
                                        <a href="#" class="f-more f-primary-b">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    #end

                    <div class="b-pagination f-pagination">
                        <ul>
                            <li><a href="#">First</a></li>
                            <li><a class="prev" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="is-active-pagination"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a class="next" href="#"><i class="fa fa-angle-right"></i></a></li>
                            <li><a href="#">Last</a></li>
                        </ul>
                    </div>
                </div>
                <div class="visible-xs-block visible-sm-block b-hr"></div>
                #include("/module/userbase.vm")
            </div>
        </div>
    </div>
</div>
</html>
