<!DOCTYPE html>



<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/ueditor.all.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>

<link href="/user/css/article-editor.css" rel="stylesheet">

<link rel="stylesheet" href="/user/css/main-default.css" />

#parse("/module/base.vm")

<div class="container b-header__box b-relative">
    <div class="b-header-r b-right b-header-r--icon"></div>
</div>

<div id="wrapper" style:"background-color:>
<!-- Main -->
<div id="main">
    <div class="l-inner-page-container">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-push-3">

                    <div class="b-blog-listing__block">
                        <br><br><br>
                        <form class="form-horizontal" enctype="multipart/form-data" id="article" method="post">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><h4>标题</h4></label>

                                <div class="col-sm-10">
                                    <input  name="title" type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><h4>文章标签</h4></label>

                                <div class="col-sm-10">

                                    <input name="tagsinput" id="tagsinput" class="tagsinput"
                                           value="文章标签"/>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><h4>封面图片</h4></label>
                                <div class="col-sm-10">
                                    <input type="file" name="headFig" id="headFig">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label"><h4>文章内容</h4></label>

                                <div class="col-sm-10">
                                    <div>
                                        <script id="editor" type="text/plain"
                                                style="width:100%;height:500px;background: #fff;border-bottom: #fff;"></script>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label"></label>
                                <div class="col-lg-10">
                                    <button id="articlepublish" type="submit" class="btn btn-primary" onclick="article_publish()">保存</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>
                <div class="visible-xs-block visible-sm-block b-hr"></div>
                <div class="col-md-3 col-md-pull-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="b-form-row b-input-search">
                                <input class="form-control" type="text" placeholder="Enter your keywords"/>
                                <span class="b-btn b-btn-search f-btn-search fa fa-search fa-2x"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row b-col-default-indent">
                        <div class="col-md-12">
                            <div class="b-categories-filter">
                                <h4 class="f-primary-b b-h4-special f-h4-special--gray f-h4-special">blog categories</h4>
                                <ul>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Web Design</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">12</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Smart Phone</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">23</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Latop</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">12</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Apple Store</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">23</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Wordpress Theme</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">12</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Web Design</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">23</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Sport</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">12</span>
                                    </li>
                                    <li>
                                        <a class="f-categories-filter_name" href="#"><i class="fa fa-plus"></i> Fashion</a>
                                        <span class="b-categories-filter_count f-categories-filter_count">23</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h4 class="f-primary-b b-h4-special  f-h4-special--gray f-h4-special">popular postes</h4>

                            <div class="b-blog-short-post b-blog-short-post--img-hover-bordered b-blog-short-post--w-img f-blog-short-post--w-img row">
                                <div class="b-blog-short-post b-blog-short-post--img-hover-bordered b-blog-short-post--w-img f-blog-short-post--w-img row">
                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina src="/user/images/gallery/sm/gallery_1.jpg" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Phasellus id mattis dolorunc et erat hendrerit, tincidunt</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                10, January, 2014
                                            </div>
                                        </div>
                                    </div>

                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina src="/user/images/gallery/sm/gallery_2.jpg" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Vel eleifend id ullamcorper eu velit</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                14, January, 2014
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina src="/user/images/gallery/sm/gallery_2.jpg" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Lorem ipsum dolor sit amet purus vitae magna rhoncus</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                10, January, 2014
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina src="/user/images/gallery/sm/gallery_3.jpg" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Fusce vitae dui sit amet lacus rutrum convallis</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                10, January, 2014
                                            </div>
                                        </div>
                                    </div>
                                    <div class="b-blog-short-post--popular col-md-12  col-xs-12 f-primary-b @@hidden">
                                        <div class="b-blog-short-post__item_img">
                                            <a href="#"><img data-retina src="/user/images/gallery/sm/gallery_1.jpg" alt=""/></a>
                                        </div>
                                        <div class="b-remaining">
                                            <div class="b-blog-short-post__item_text f-blog-short-post__item_text">
                                                <a href="#">Fusce vitae dui sit amet lacus rutrum convallis</a>
                                            </div>
                                            <div class="b-blog-short-post__item_date f-blog-short-post__item_date f-primary-it">
                                                10, January, 2014
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');


    function isFocus(e){
        alert(UE.getEditor('editor').isFocus());
        UE.dom.domUtils.preventDefault(e)
    }
    function setblur(e){
        UE.getEditor('editor').blur();
        UE.dom.domUtils.preventDefault(e)
    }
    function insertHtml() {
        var value = prompt('插入html代码', '');
        UE.getEditor('editor').execCommand('insertHtml', value)
    }
    function createEditor() {
        enableBtn();
        UE.getEditor('editor');
    }
    function getAllHtml() {
        alert(UE.getEditor('editor').getAllHtml())
    }
    function getContent() {
        var arr = [];
        arr.push("使用editor.getContent()方法可以获得编辑器的内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getContent());
        alert(arr.join("\n"));
    }
    function getPlainTxt() {
        var arr = [];
        arr.push("使用editor.getPlainTxt()方法可以获得编辑器的带格式的纯文本内容");
        arr.push("内容为：");
        arr.push(UE.getEditor('editor').getPlainTxt());
        alert(arr.join('\n'))
    }
    function setContent(isAppendTo) {
        var arr = [];
        arr.push("使用editor.setContent('欢迎使用ueditor')方法可以设置编辑器的内容");
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
        alert(arr.join("\n"));
    }
    function setDisabled() {
        UE.getEditor('editor').setDisabled('fullscreen');
        disableBtn("enable");
    }

    function setEnabled() {
        UE.getEditor('editor').setEnabled();
        enableBtn();
    }

    function getText() {
        //当你点击按钮时编辑区域已经失去了焦点，如果直接用getText将不会得到内容，所以要在选回来，然后取得内容
        var range = UE.getEditor('editor').selection.getRange();
        range.select();
        var txt = UE.getEditor('editor').selection.getText();
        alert(txt)
    }

    function getContentTxt() {
        var arr = [];
        arr.push("使用editor.getContentTxt()方法可以获得编辑器的纯文本内容");
        arr.push("编辑器的纯文本内容为：");
        arr.push(UE.getEditor('editor').getContentTxt());
        alert(arr.join("\n"));
    }
    function hasContent() {
        var arr = [];
        arr.push("使用editor.hasContents()方法判断编辑器里是否有内容");
        arr.push("判断结果为：");
        arr.push(UE.getEditor('editor').hasContents());
        alert(arr.join("\n"));
    }
    function setFocus() {
        UE.getEditor('editor').focus();
    }
    function deleteEditor() {
        disableBtn();
        UE.getEditor('editor').destroy();
    }
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = UE.dom.domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            UE.dom.domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function getLocalData () {
        alert(UE.getEditor('editor').execCommand( "getlocaldata" ));
    }

    function clearLocalData () {
        UE.getEditor('editor').execCommand( "clearlocaldata" );
        alert("已清空草稿箱")
    }
</script>

<script>

    function article_publish () {
        var form = new FormData(document.getElementById("article"));
        form.append("content",UE.getEditor('editor').getContent());
        $.ajax({
            url:"/user/article/save",
            type:"post",
            data:form,
            processData:false,
            contentType:false,
            async:false,
            success:function(data){
                alert(data);
            },
            error:function(e){
                alert("错误！！");
            }
        });
    }

</script>

<!--custom tagsinput-->
<script src="/admin/js/jquery.tagsinput.js"></script>
<!-- custom form component script for this page-->
<script src="/admin/js/form-component.js"></script>
</body>

</html>
