<!DOCTYPE html>
<link rel="stylesheet" href="articleList/css/zerogrid.css">
	<link rel="stylesheet" href="articleList/css/style.css">
	<link rel="stylesheet" href="articleList/css/component.css">
	<link rel="stylesheet" href="articleList/css/responsive.css">
	
#parse("module/base.vm")

<!--------------Content--------------->
<section class="container page-home">
	<div id="main-content" class="wrap-container zerogrid">
		<article>
			<div class="col-1-2 right">
				<img src="articleList/images/img01.jpg" />
			</div>
			<div class="col-1-2 left">
				<a class="art-category left" href="#">Design</a>
				<div class="clear"></div>
				<div class="art-content">
					<h2>the title on the article</h2>
					<div class="info">By Admin on March 01, 2015 with <a href="#">01 Commnets</a></div>
					<div class="line"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.</p>
					<a href="#" class="more">Read More</a>
				</div>	
			</div>
		</article>
		<article>
			<div class="col-1-2">
				<img src="articleList/images/img02.jpg" />
			</div>
			<div class="col-1-2">
				<a class="art-category right" href="#">Portfolio</a>
				<div class="clear"></div>
				<div class="art-content">
					<h2>the title on the article</h2>
					<div class="info">By Admin on March 01, 2015 with <a href="#">01 Commnets</a></div>
					<div class="line"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.</p>
					<a href="#" class="more">Read More</a>
				</div>
			</div>
		</article>
		<article>
			<div class="col-1-2 right">
				<img src="articleList/images/img03.jpg" />
			</div>
			<div class="col-1-2 left">
				<a class="art-category left" href="#">Gallery</a>
				<div class="clear"></div>
				<div class="art-content">
					<h2>the title on the article</h2>
					<div class="info">By Admin on March 01, 2015 with <a href="#">01 Commnets</a></div>
					<div class="line"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.</p>
					<a href="#" class="more">Read More</a>
				</div>	
			</div>
		</article>
		<article>
			<div class="col-1-2">
				<img src="articleList/images/img04.jpg" />
			</div>
			<div class="col-1-2">
				<a class="art-category right" href="#">Studio</a>
				<div class="clear"></div>
				<div class="art-content">
					<h2>the title on the article</h2>
					<div class="info">By Admin on March 01, 2015 with <a href="#">01 Commnets</a></div>
					<div class="line"></div>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam viverra convallis auctor. Sed accumsan libero quis mi commodo et suscipit enim lacinia. Morbi rutrum vulputate est sed faucibus.</p>
					<a href="#" class="more">Read More</a>
				</div>
			</div>
		</article>
	</div>
	
	<div id="pagination" class="clearfix">
		<ul>
			<li><a class="current" href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">next</a></li>
		</ul>
	</div>
	
</section>

</html>
